In [3]:
import pandas as pd

In [4]:
path = "./Job_Info"
job_df = pd.DataFrame()

In [5]:
job_df = pd.read_excel('./Job_Info.xlsx')
job_df.head()

,Column1,title,company,post,location,wage,type
0,1584,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,Abbey Wood_x000D_\n London,£10.20 per hour,"Permanent, full-time"
1,28844,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,Abbey Wood_x000D_\n London,£10.20 per hour,"Permanent, full-time"
2,9484,Chef 1,Appcastenterprise,15 hrs ago by Appcastenterprise,Abbeymead_x000D_\n Gloucest...,Competitive salary,"Permanent, full-time"
3,10672,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Abbeymead_x000D_\n Gloucest...,Competitive salary,"Permanent, full-time"
4,25438,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Abbeymead_x000D_\n Gloucest...,Competitive salary,"Permanent, full-time"

In [6]:
job_df['location'].str.split('\n', expand=True)

                                     0                                    1
0                    Abbey Wood_x000D_                               London
1                    Abbey Wood_x000D_                               London
2                     Abbeymead_x000D_                      Gloucestershire
3                     Abbeymead_x000D_                      Gloucestershire
4                     Abbeymead_x000D_                      Gloucestershire
...                                ...                                  ...
53995         Yorkshire and Humberside                                 None
53996         Yorkshire and Humberside                                 None
53997         Yorkshire and Humberside                                 None
53998  Yorkshire and Humberside_x000D_                      South Yorkshire
53999  Yorkshire and Humberside_x000D_                      South Yorkshire

[54000 rows x 2 columns]

In [7]:
split_location = job_df['location'].str.split('\n', expand=True).rename(columns={0:'Local Location', 1:'Region Location'})
split_location

                        Local Location                      Region Location
0                    Abbey Wood_x000D_                               London
1                    Abbey Wood_x000D_                               London
2                     Abbeymead_x000D_                      Gloucestershire
3                     Abbeymead_x000D_                      Gloucestershire
4                     Abbeymead_x000D_                      Gloucestershire
...                                ...                                  ...
53995         Yorkshire and Humberside                                 None
53996         Yorkshire and Humberside                                 None
53997         Yorkshire and Humberside                                 None
53998  Yorkshire and Humberside_x000D_                      South Yorkshire
53999  Yorkshire and Humberside_x000D_                      South Yorkshire

[54000 rows x 2 columns]

In [8]:
split_location = job_df[['Local Locations', 'Region Location']] = job_df['location'].str.split('\n', expand=True)
split_location = job_df
job_df

,Column1,title,company,post,location,wage,type,Local Locations,Region Location
0,1584,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,Abbey Wood_x000D_\n London,£10.20 per hour,"Permanent, full-time",Abbey Wood_x000D_,London
1,28844,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,Abbey Wood_x000D_\n London,£10.20 per hour,"Permanent, full-time",Abbey Wood_x000D_,London
2,9484,Chef 1,Appcastenterprise,15 hrs ago by Appcastenterprise,Abbeymead_x000D_\n Gloucest...,Competitive salary,"Permanent, full-time",Abbeymead_x000D_,Gloucestershire
3,10672,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Abbeymead_x000D_\n Gloucest...,Competitive salary,"Permanent, full-time",Abbeymead_x000D_,Gloucestershire
4,25438,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Abbeymead_x000D_\n Gloucest...,Competitive salary,"Permanent, full-time",Abbeymead_x000D_,Gloucestershire
...,...,...,...,...,...,...,...,...,...
53995,30867,Mechanical/Electrical Engineer,Adjusting Appointments Limited,3 hrs ago by Adjusting Appointments Limited,Yorkshire and Humberside,"£40,000 - £50,000 per annum","Permanent, full-time",Yorkshire and Humberside,None
53996,34810,Desk Based HNW Property Loss Adjuster,Adjusting Appointments Limited,6 hrs ago by Adjusting Appointments Limited,Yorkshire and Humberside,"£30,000 - £35,000 per annum","Permanent, full-time",Yorkshire and Humberside,None
53997,35764,Major & Complex Liability Loss Adjuster,Adjusting Appointments Limited,7 hrs ago by Adjusting Appointments Limited,Yorkshire and Humberside,"£40,000 - £65,000 per annum","Permanent, full-time",Yorkshire and Humberside,None
53998,8273,Educational Psychologist,Reed Social Care,7 hrs ago by Reed Social Care,Yorkshire and Humberside_x000D_\n ...,£450.00 - £500.00 per day,"Temporary, full-time",Yorkshire and Humberside_x000D_,South Yorkshire
53999,35543,Educational Psychologist,Reed Social Care,7 hrs ago by Reed Social Care,Yorkshire and Humberside_x000D_\n ...,£450.00 - £500.00 per day,"Temporary, full-time",Yorkshire and Humberside_x000D_,South Yorkshire

In [9]:
filt = job_df['Local Locations'].str.replace('_x000D_', ' ')
job_df['Local Locations'] = filt
job_df['location'] = filt
job_df

,Column1,title,company,post,location,wage,type,Local Locations,Region Location
0,1584,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,Abbey Wood,£10.20 per hour,"Permanent, full-time",Abbey Wood,London
1,28844,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,Abbey Wood,£10.20 per hour,"Permanent, full-time",Abbey Wood,London
2,9484,Chef 1,Appcastenterprise,15 hrs ago by Appcastenterprise,Abbeymead,Competitive salary,"Permanent, full-time",Abbeymead,Gloucestershire
3,10672,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Abbeymead,Competitive salary,"Permanent, full-time",Abbeymead,Gloucestershire
4,25438,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Abbeymead,Competitive salary,"Permanent, full-time",Abbeymead,Gloucestershire
...,...,...,...,...,...,...,...,...,...
53995,30867,Mechanical/Electrical Engineer,Adjusting Appointments Limited,3 hrs ago by Adjusting Appointments Limited,Yorkshire and Humberside,"£40,000 - £50,000 per annum","Permanent, full-time",Yorkshire and Humberside,None
53996,34810,Desk Based HNW Property Loss Adjuster,Adjusting Appointments Limited,6 hrs ago by Adjusting Appointments Limited,Yorkshire and Humberside,"£30,000 - £35,000 per annum","Permanent, full-time",Yorkshire and Humberside,None
53997,35764,Major & Complex Liability Loss Adjuster,Adjusting Appointments Limited,7 hrs ago by Adjusting Appointments Limited,Yorkshire and Humberside,"£40,000 - £65,000 per annum","Permanent, full-time",Yorkshire and Humberside,None
53998,8273,Educational Psychologist,Reed Social Care,7 hrs ago by Reed Social Care,Yorkshire and Humberside,£450.00 - £500.00 per day,"Temporary, full-time",Yorkshire and Humberside,South Yorkshire
53999,35543,Educational Psychologist,Reed Social Care,7 hrs ago by Reed Social Care,Yorkshire and Humberside,£450.00 - £500.00 per day,"Temporary, full-time",Yorkshire and Humberside,South Yorkshire

In [17]:
#del job_df['location']
job_df.head()

,Column1,title,company,post,wage,type,Local Locations,Region Location
0,1584,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,£10.20 per hour,"Permanent, full-time",Abbey Wood,London
1,28844,Care Support Worker,Ambient Support,1 hrs ago by Ambient Support,£10.20 per hour,"Permanent, full-time",Abbey Wood,London
2,9484,Chef 1,Appcastenterprise,15 hrs ago by Appcastenterprise,Competitive salary,"Permanent, full-time",Abbeymead,Gloucestershire
3,10672,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Competitive salary,"Permanent, full-time",Abbeymead,Gloucestershire
4,25438,Waiting Staff 1,Appcastenterprise,Yesterday by Appcastenterprise,Competitive salary,"Permanent, full-time",Abbeymead,Gloucestershire

In [19]:
job_df.to_csv('Edited Job Database')